@font-face {
  font-family: advetime;
  src: url(../public/Advetime.ttf);
}

.header {
  height: 90vh;
  width: 95vw;
  background-image: url("../public/banner_Mobile360x5963x-new.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
}

.app {
  height: 63vh;
  width: 63vh;
  background-color: #c28a6c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.firstrow,
.secondrow,
.thirdrow {
  width: 60vh;
  height: 20vh;
  background-color: #c28a6c;
  display: flex;
  flex-direction: row;
  border-radius: 2px;
}

.but1 {
  background-color: #673ca0;
  height: 20vh;
  width: 20vh;
  font-size: 10em;
  text-align: center;
  font-weight: 100;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.but2 {
  background-color: #2d2270;
  height: 20vh;
  width: 20vh;
  font-size: 10em;
  text-align: center;
  font-weight: 100;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
  font-size: 7em;
  font-weight: 200;
  color: #deb54c;
  font-family:advetime;
  text-decoration :dashed;  
}

div{
  color:#deb54c;
}