*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body::before{
content: "";
height: 100vh;
width: 100vw;
background-image: url("../public/banner_Mobile360x5963x-new.jpg");
background-size: cover;
background-position: center;
filter: blur(10px);
position: absolute;
z-index: -1;
}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
